__pycache__
.git
.venv
.web
data
mlruns
mlartifacts
obsolete
templates
runs
text_mining_template
docker-compose.yml
.gitingore
README.md
streamlit_frontend.dockerfile
service.Dockerfile
api_commands.py
__init__.py